USE [iSpan_car]
GO
/****** Object:  Table [dbo].[orderservice]    Script Date: 2023/2/14 下午 04:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderservice](
	[ordername] [varchar](20) NOT NULL,
	[orderemail] [varchar](max) NULL,
	[orderphonenumber] [varchar](max) NULL,
	[orderdate] [varchar](max) NULL,
	[ordertime] [varchar](max) NULL,
	[orderproduct] [varchar](max) NULL,
	[orderremarks] [varchar](max) NULL,
	[Servicename] [varchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 2023/2/14 下午 04:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Servicename] [varchar](20) NOT NULL,
	[Carimage] [varbinary](max) NULL,
	[Servicedescription] [varchar](max) NULL,
	[Serviceinfomation] [varchar](max) NULL,
	[Contactperson] [varchar](max) NULL,
	[resllernonreseller] [varchar](5) NULL,
 CONSTRAINT [PK__Service__9AE7A256CA128FCE] PRIMARY KEY CLUSTERED 
(
	[Servicename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[orderservice] ([ordername], [orderemail], [orderphonenumber], [orderdate], [ordertime], [orderproduct], [orderremarks], [Servicename]) VALUES (N'海綿寶寶', N'a0926855318@gmail.com', N'0926855118', N'2023-02-24', N'13:49', N'輪胎相關', N'改evo3輪胎', N'三一國際')
INSERT [dbo].[orderservice] ([ordername], [orderemail], [orderphonenumber], [orderdate], [ordertime], [orderproduct], [orderremarks], [Servicename]) VALUES (N'李長毛', N'dssd@gmail.com', N'0926855118', N'2023-02-28', N'15:57', N'改裝相關', N'改輪框', N'慎益汽車')
INSERT [dbo].[orderservice] ([ordername], [orderemail], [orderphonenumber], [orderdate], [ordertime], [orderproduct], [orderremarks], [Servicename]) VALUES (N'王翰文', N'coolgt15@gmail.com', N'0985481258', N'2023-03-02', N'10:25', N'輪胎相關', N'我要換四顆輪胎cup2', N'鑫盟汽車')
GO
