USE [iSpan_car]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 2023/2/7 下午 06:20:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Servicename] [varchar](20) NOT NULL,
	[Carimage] [varbinary](max) NULL,
	[Servicedescription] [varchar](max) NULL,
	[Serviceinfomation] [varchar](max) NULL,
	[Contactperson] [varchar](max) NULL,
	[resllernonreseller] [varchar](5) NULL,
 CONSTRAINT [PK__Service__9AE7A256CA128FCE] PRIMARY KEY CLUSTERED 
(
	[Servicename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serviceorder]    Script Date: 2023/2/7 下午 06:20:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serviceorder](
	[ordername] [varchar](20) NOT NULL,
	[orderemail] [varchar](max) NULL,
	[orderphonenumber] [varchar](max) NULL,
	[orderdate] [varchar](max) NULL,
	[ordertime] [varchar](max) NULL,
	[orderproduct] [varchar](max) NULL,
	[orderremarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
