<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
         
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=iSpan_car;trustServerCertificate=true</property>
        <property name="hibernate.connection.username">sa</property>
         
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2016Dialect</property>
        
     
	    <!-- 後面學到 current  Session 再打開 -->
        <property name="current_session_context_class">thread</property>
        
		<!-- 是否在 console 顯示經由 hibernate 產生的 SQL 指令-->
        <property name="show_sql">true</property>
		
		<!-- 上述 SQL 指令是否排版-->
        <property name="format_sql">true</property>
		
		<!-- hibernate 內建 連線池 -->
		<property name="connection.pool_size">20</property>
        
        <!-- setting auto generate table: update/validate  -->
<!--         <property name="hbm2ddl.auto">update</property> -->
        
        <!--  source mapping in xml file -->
        
        <!--  class mapping -->
        <mapping class="member.model.MemberBean"/>
        <mapping class="member.model.MemberPosition"/>
        <mapping class="member.model.PermissionsOfPosition"/>
        <mapping class="carDealer.model.CarDealerBean"/>
        <mapping class="carInfo.model.CarInfoBean"/>
        <mapping class="cart.model.CartBean"/>
		<mapping class="order.model.OrderBean"/>	
		<mapping class="orderItem.model.OrderItemBean"/>
		<mapping class="iSpanShop.model.ShopDetailBean"/>
		<mapping class="dforum.model.Thread"/>
		<mapping class="dforum.model.Category"/>
		<mapping class="dforum.model.Post"/>
		<mapping class="dforum.model.ForumMember"/>
		<mapping class="Service.ServiceBean"/>
<!--         <mapping class="tw.hibernatedemo.model.Department"/> -->
<!--         <mapping class="tw.hibernatedemo.model.Instructor"/> -->
<!--         <mapping class="tw.hibernatedemo.model.InstructorDetail"/> -->
<!--         <mapping class="tw.hibernatedemo.model.Books"/> -->
<!--         <mapping class="tw.hibernatedemo.model.BookUsers"/> -->
<!--         <mapping class="tw.hibernatedemo.model.MyGroup"/> -->
<!--         <mapping class="tw.hibernatedemo.model.Friend"/> -->
<!--         <mapping class="tw.hibernatedemo.model.Employee"/> -->
<!--         <mapping class="tw.hibernatedemo.model.Member"/> -->
    
        
    </session-factory>
</hibernate-configuration>
